body{
    background-color: rgb(0, 0, 0);

}
section{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(241, 109, 135);
    text-align: center;

}
h1{
    text-align: center;
    font-size: comic 20px ;
    color: white;
    
}